p {
	font-family: sans-serif;
	color:#0000FF;
}
body {
	
}
#awesomeText {front-family: 'Times New Roman', Geaorgia, Serif;}
.soft {color:#A8A8A8;}
.center {text-align: center;}
.container {margin: 0 auto;}
#special{
	color:grey;
	font-family:ariel;
	size:15pt;
	}
	.bluetext{
	color:blue;
	}